div.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.video {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 80%;
}

@media (max-width: 700px) {
    video {
        width: 100%;
    }
}